body {
  margin: .5%;
}
.container {
  display: flex;
  max-width: 450px;
  padding: .5%;
  margin: .5%;
}
.text {
  padding: 1.5%;
}
.title {
  margin-top: -12%;
  color: darkorange;
}
.description {
  margin-top: -15%;
  color: gray;
}